:root {
  --color-primary-light:#FF3366;
  --color-primary-dark:#BA265D;
  --color-primary: #eb2f64;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --line:1px solid var(--color-grey-light-2);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.3); }

/* -----------------------------------------
Responsive Breakpoints
--------------------------------------------*/
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 65.5%; }
  @media only screen and (max-width: 68.75%) {
    html {
      font-size:]]//  %; } }

body  {  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: var(--color-grey-dark-2); }

/* -----------------------------------------
Logo Component
-------  ---------------------------------*/
.logo {
  height: 3.23rem;
  margin-left: 2rem; }

/* -----------------------------------------
Search Box Component
--------------------------------------------*/
.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .3s;
    margin-right: -3.1rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

/* -----------------------------------------
User Nav Component
--------------------------------------------*/
.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2); }
  .user-nav__notification {
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 50%;
    background-color: var(--color-primary);
    height: 1.75rem;
    width: 1.75rem;
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }
  .user-nav__user-name {
    font-weight: 400; }

/* -----------------------------------------
Side Navigation Component
--------------------------------------------*/
.side-nav {
  font-size: 1.4rem;
  list-style-type: none;
  margin-top: 3.5rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
  .side-nav__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: all 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    z-index: 10;
    position: relative; }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }

/* -----------------------------------------
Legat Text Component
--------------------------------------------*/
.legal {
  font-size: 1.1rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-4); }

/* -----------------------------------------
Gallery Component
--------------------------------------------*/
.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

/* -----------------------------------------
Hotel overview Component
--------------------------------------------*/
.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line); }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__icon-star, .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
  .overview__location {
    font-size: 1.2rem;
    display: flex;
    align-items: vertical; }
  .overview__icons-location {
    margin-right: .5rem; }
  .overview__rating {
    background-color: var(--color-primary);
    margin-left: 3rem;
    color: white;
    padding: 0 2.25rem;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .overview__rating__count {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 900; }
  .overview__rating-average {
    font-size: 2.24rem;
    font-weight: 400;
    margin-bottom: -4px; }

/* -----------------------------------------
Button Inline Component
--------------------------------------------*/
.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 3px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s; }
  .btn-inline:hover {
    color: var(--color-grey-dark-2); }
    .btn-inline:hover span {
      margin-left: 5px;
      transition: all .3s;
      font-size: 3.1rem;
      margin-top: -4px; }
  .btn-inline:focus {
    outline: none;
    animation: pulse 1s infinite; }
  .btn-inline span {
    margin-right: 13px;
    font-size: 2.8rem;
    transition: all .3s; }

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.07);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

/* -----------------------------------------
{Paragraph} Component
--------------------------------------------*/
.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

/* -----------------------------------------
{List} Component
--------------------------------------------*/
.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: 7px; }
  .list__item::before {
    content: '';
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 7px;
    background-color: var(--color-primary);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover; }

/* -----------------------------------------
{Recommend} Component
--------------------------------------------*/
.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: flex;
  align-items: center; }
  .recommend__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff; }
    .recommend__photo:not(:last-child) {
      margin-right: -1.5rem; }
  .recommend__count {
    margin-right: auto; }
  .recommend__friends {
    color: var(--color-grey-dark-2); }

/* -----------------------------------------
{Reviews} Component
--------------------------------------------*/
.review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden; }
  .review__text {
    z-index: 100;
    position: relative; }
  .review__user {
    display: flex;
    align-items: center;
    padding-top: 2rem; }
  .review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%; }
  .review__user-box {
    margin-left: 1.3rem; }
  .review__user-name {
    font-size: 1.5rem;
    font-weight: 600; }
  .review__user-date {
    font-size: 1rem; }
  .review__rating {
    margin-left: auto;
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--color-primary); }
  .review::before {
    content: '\201C';
    font-size: 20rem;
    position: absolute;
    top: -3rem;
    left: -1rem;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
    line-height: 1;
    z-index: 1; }

/* -----------------------------------------
{CTA} Component
--------------------------------------------*/
.cta {
  padding: 3.5rem 0;
  text-align: center; }
  .cta__book-now {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 2.5rem;
    color: var(--color-grey-dark-3); }

.btn {
  font-size: 1.5rem;
  border: none;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 100px;
  color: #fff;
  background-image: linear-gradient(to right, #BA265D, #FF3366);
  position: relative;
  overflow: hidden; }
  .btn__visible {
    display: inline-block;
    padding: 2rem 7.5rem;
    height: 100%;
    width: 100%;
    transition: all .3s; }
  .btn__invisible {
    display: inline-block;
    position: absolute;
    left: 0;
    top: -100%;
    padding: 2rem 0;
    height: 100%;
    width: 100%;
    transition: all .3s; }
  .btn:hover {
    background-image: linear-gradient(to left, #BA265D, #FF3366); }
  .btn:hover .btn__visible {
    transform: translateY(100%); }
  .btn:hover .btn__invisible {
    top: 0; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0; } }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  background-color: #fff;
  flex: 1; }

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line); }
.description{
  background-color: #fff;
  margin-right: 4.5rem;  
  flex: 0 0 60%;
  box-shadow: var(--shadow-light);
  padding: 3rem; }

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }
  
    