/* -----------------------------------------
Logo Component
--------------------------------------------*/
.logo{
    height: 3.23rem;
    margin-left: 2rem;
}
 
/* -----------------------------------------
Search Box Component
--------------------------------------------*/
.search{
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
     &__input{
         font-family: inherit;
         font-size: inherit;
         background-color: var(--color-grey-light-2);
         border: none;
         padding: .7rem 2rem;
         border-radius: 100px;
         width: 90%;
         transition: all .3s;
         margin-right: -3.1rem;
         &:focus{
             outline: none;
             width: 100%;
             background-color: var(--color-grey-light-3);
         }
        &::-webkit-input-placeholder{
            font-weight: 100;
            color: var(--color-grey-light-4);

        }
     }
     &__input:focus + &__button{
         background-color: var(--color-grey-light-3);
     }
     &__button{

        border: none;
        background-color: var(--color-grey-light-2);
        &:focus{
            outline: none;
        }
        &:active{
            transform: translateY(2px);
        }
     }
     &__icon{
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
     }
}
/* -----------------------------------------
User Nav Component
--------------------------------------------*/
.user-nav{
    display: flex;
    align-items: center;
    align-self: stretch;


    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    & > *:hover{
        background-color: var(--color-grey-light-2);
    }
    &__icon-box{
        position: relative;

    }
    &__icon{
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
    }
    &__notification{
            font-size: 0.9rem;
            font-weight: 600;
            border-radius:50%;
            background-color: var(--color-primary);
            height: 1.75rem;
            width: 1.75rem;
            color: #fff;
            position: absolute;
            top: 1.5rem ;
            right: 1.1rem;
            display: flex;
            justify-content: center;
            align-items: center;
    }

    &__user-photo{
        height: 3.75rem;
        border-radius: 50%; 
        margin-right: 1rem;

    }
    &__user-name{

        font-weight: 400;
    }
}

/* -----------------------------------------
Side Navigation Component
--------------------------------------------*/
.side-nav{
    font-size: 1.4rem;
    list-style-type: none;
    margin-top: 3.5rem;

    &__item{
        position: relative;
        &:not(:last-child){
            margin-bottom: .5rem;
        }
    }
    &__item::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color:var(--color-primary);
        transform: scaleY(0);
        transition: all .2s , width .4s cubic-bezier(1,0,0,1) .2s, background-color .1s;
    }
    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }
    &__item:active::before{
        background-color: var(--color-primary-light);
    }
    &__link:link,
    &__link:visited{
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        display: flex;
        align-items: center;
        z-index: 10;
        position: relative;
    }
    &__icon{
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;
    }
}



/* -----------------------------------------
Legat Text Component
--------------------------------------------*/
.legal{
    font-size: 1.1rem;
    text-align: center;
    padding: 2.5rem;
    color: var(--color-grey-light-4);
}


/* -----------------------------------------
Gallery Component
--------------------------------------------*/

.gallery{
    display: flex;
    &__photo{
        width: 100%;
        display: block;
    }
}


/* -----------------------------------------
Hotel overview Component
--------------------------------------------*/
.overview{
    display: flex;
    align-items: center;
    border-bottom: var(--line);

    &__heading{ 
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
    }
    &__stars{
        margin-right: auto;
        display: flex;
    }
    &__icon-star,
    &__icon-location{
        width: 1.75rem;
        height: 1.75rem;
        fill:var(--color-primary);
    }
    &__location{
        font-size: 1.2rem;
        display: flex;
        align-items: vertical;
    }
    &__icons-location{
        margin-right: .5rem;
    }
    &__rating{
        background-color: var(--color-primary);
        margin-left: 3rem;
        color: white;
        padding:  0 2.25rem;
        
        align-self: stretch;
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
         
    }
    &__rating__count{ 
        font-size: 4rem;
        text-transform: uppercase;
        font-weight: 900;
    }
    &__rating-average{
        font-size: 2.24rem;
        font-weight: 400;
        margin-bottom: -4px;
    }
}
/* -----------------------------------------
Button Inline Component
--------------------------------------------*/
.btn-inline{
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom:3px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;

    &:hover{
        color: var(--color-grey-dark-2);
        span{
            margin-left: 5px;
            transition: all .3s;
            font-size: 3.1rem;
            margin-top: -4px;
        }

    }
    &:focus{
        outline: none;
        animation: pulse 1s infinite;
    }
    & span{
        
        margin-right: 13px;
        font-size: 2.8rem;
        transition: all .3s
    }
}

@keyframes pulse {
    0%{
        transform: scale(1);
        box-shadow: none;
    }
    50%{
        transform: scale(1.07);
        box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
    }
    100%{
        transform: scale(1);
        box-shadow: none;
    }
}




/* -----------------------------------------
{Paragraph} Component
--------------------------------------------*/
.paragraph:not(:last-of-type){
    margin-bottom: 2rem;
}

/* -----------------------------------------
{List} Component
--------------------------------------------*/
.list{
    list-style: none;
         margin: 3rem 0;
         padding: 3rem 0;
         border-top: var(--line);
         border-bottom: var(--line);

         display: flex;
         flex-wrap: wrap;
         &__item{
             flex:  0 0 50%;
             margin-bottom: 7px;
         }
         &__item::before{
             content: '';
             display: inline-block;
             height: 1rem;
             width: 1rem;
             margin-right: 7px;
            //  background-image: url(../img/chevron-thin-right.svg);
            //  //older broswers 
            //  background-size: cover;


            //new broswer
            background-color: var(--color-primary);
            -webkit-mask-image: url(../img/chevron-thin-right.svg);
            -webkit-mask-size: cover;
         }

}
/* -----------------------------------------
{Recommend} Component
--------------------------------------------*/
.recommend{
    font-size: 1.3rem;
    color: var(--color-grey-dark-3);
    display: flex;
    align-items: center;    


    &__photo{
        box-sizing: content-box;
        height: 4rem;
        width: 4rem;
        border-radius: 50%; 
        border: 3px solid #fff;

        &:not(:last-child){
            margin-right: -1.5rem;
        }
    }
    &__count{
        margin-right: auto;

    }
    &__friends{
        color: var(--color-grey-dark-2);
    }
}

/* -----------------------------------------
{Reviews} Component
--------------------------------------------*/


.review{
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;

     
    &__text{
        z-index: 100;
        position: relative;
    }
    &__user{
        display: flex;
        align-items: center;
        padding-top: 2rem;
    }
    &__photo{
        height: 4.5rem;
        width:4.5rem;
        border-radius: 50%;
    }
    &__user-box{
     margin-left: 1.3rem;
    }
    &__user-name{
        font-size: 1.5rem;
        font-weight: 600;
    }
    &__user-date{
        font-size: 1rem;
    }
    &__rating{
        margin-left: auto;
        font-size: 2.4rem;
        font-weight: 400;
        color: var(--color-primary);
    }
    &::before{
        content: '\201C';
        font-size: 20rem;
        position: absolute;
        top: -3rem;
        left: -1rem;
        color: var(--color-grey-light-2);
        font-family: sans-serif;
        line-height: 1;
        z-index: 1 ;
        
    }

}

/* -----------------------------------------
{CTA} Component
--------------------------------------------*/
.cta{
    padding: 3.5rem 0;
    text-align: center;
    &__book-now{
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 300;
        margin-bottom: 2.5rem;
        color: var(--color-grey-dark-3);
    }
}

.btn{
    font-size: 1.5rem;
    border: none;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 100px;
    color: #fff;
    background-image:linear-gradient(to right, #BA265D, #FF3366);
    position: relative;
    overflow: hidden;

    &__visible{
  
        display: inline-block;
        padding: 2rem 7.5rem;
        height: 100%;
        width: 100%;
        transition: all .3s;

    }
    &__invisible{
        display: inline-block;
        position: absolute;
        left: 0;
        top: -100%;
        padding: 2rem 0;
        height: 100%;
        width: 100%;
        transition: all .3s;

    }
    &:hover{
        background-image:linear-gradient(to left, #BA265D, #FF3366);
    }
    &:hover &__visible{
        transform: translateY(100%);
    }
    &:hover &__invisible{
        top: 0;
    }
}