.container{
    max-width: 120rem; //1200px
    margin: 8rem auto;
    background-color:var(--color-grey-light-1);
    box-shadow: var(--shadow-dark) ;
    min-height: 50rem; 

    @media only screen and (max-width:$bp-largest){
        margin: 0;
    }
}
.header{
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content{
    display: flex;
}
.sidebar{
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hotel-view{
 background-color:#fff;
 flex: 1;
}
.detail{
    font-size: 1.4rem;  
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom:  var(--line);
}
.description{
    background-color: #fff;
    margin-right: 4.5rem;
    flex: 0 0 60%;
    box-shadow: var(--shadow-light);
    padding: 3rem;
}
.user-reviews{
flex: 1;
display: flex;
flex-direction: column;
align-items: center;

}